@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Do+Hyeon&family=IM+Fell+French+Canon+SC&family=Major+Mono+Display&family=Pacifico&family=Source+Code+Pro&family=Ubuntu+Mono:ital,wght@0,700;1,700&display=swap');

body.home {
  background-image: url("../assets/homepage.jpg");
  background-color: rgba(255, 255, 255, 0.4);
  background-blend-mode: lighten;
  background-size: 100% auto;
  background-repeat: no-repeat;
}

form.signup,
form.login {
  margin-top: 50px;
}

.pacifico {
  font-family: 'Pacifico', cursive;
  text-align: center;
  color: #455E9C;
  padding-top: 150px;
  padding-bottom: 15px;
}

.logintext {
  color: #455E9C;
  font-weight: bolder;
  font-family: 'Do Hyeon', sans-serif;
}

.top-nav {
  background-color: #E6E7EC;
}

.entry-nav {
  background-color: #455E9C;
}

.waves-effect.waves-sidenav .waves-ripple {
  background-color: rgba(69, 94, 156, 0.651);
}

#logo-name {
  color: #455E9C;
  font-weight: bolder;
  font-family: 'Major Mono Display', monospace;
  font-size: 20pt;
}

.nav-wrapper {
  padding-top: 2px;
}


.btn {
  background-color: #4A5066;
}

.btn:hover {
  background-color: #0D1931;
}


.btn:active {
  background-color: #0D1931;
}

.btn:visited {
  background-color: #9CB3C5;
}

.btn:focus {
  background-color: #9CB3C5;
}

.mainLogo {
  width: 35%;
}   

.addNewCB {
  background-color: #E6E7EC;
}

.CHText {
  color: #FFFFFF;

}

.subpageH1 {
  font-family: 'Source Code Pro', monospace;
  color: #4A5066;
}

.addPage {
  margin-left: 500px;
}

.addNewCH {
  background-color: #455E9C;
}

/* label color */
.input-field label {
  color: #455E9C;
}

     
/* 
font-family: 'Do Hyeon', sans-serif;
font-family: 'IM Fell French Canon SC', serif;
font-family: 'Pacifico', cursive;
font-family: 'Bree Serif', serif;
font-family: 'Ubuntu Mono', monospace; 
font-family: 'Major Mono Display', monospace;
*/